langchain-community
langchain-huggingface
sentence-transformers
langchain
qdrant-client>=1.9.2
numpy==1.26
PyYAML>=6.0
python-dotenv>=1.0.1
nltk==3.8.1
awscli
pymysql
mysql-connector-python
click
requests
twisted
tqdm
pdf2bib
pony
pandas
s3fs
accelerate